---
layout: default
---
<link rel="icon" type="image/png" href='/logo.png'>
<link rel="apple-touch-icon" type="image/png" href="/logo.png">
<link rel="shortcut icon" type="image/png" href="/logo.png">
<div class="home">
  <div class="about-section">
    <h2>Обо мне</h2>
    <p>{{ site.home_info_me }}</p>
    <p>В данный момент развиваю open source проект <a href="https://github.com/Khabib73/YATL">YATL</a>.</p>
    <p>Мои интересы: алгоритмы, бэкенд, спортивное программирование</p>
    <p>Этот сайт — мой личный блог, где я делюсь мыслями и опытом.</p>
    <p>Посмотреть мои записи можно в <a href="/blog">блоге</a>, а больше информации — на странице <a href="/about">обо мне</a>.</p>
  </div>

</div>